.details {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  background: var(--bg-secondary);
  gap: 20px;
}

.details-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-content .icon-txt {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.txt {
  font-size: 13px;
  color: var(--bg-primary);
  cursor: pointer;
}

.icon-txt .icon {
  margin: 0 10px;
  width: 16px;
  height: 16px;
  color: var(--bg-primary);
 
